body {
    background-color: #042836;
    background-image: url("../images/background.jpg");
}

.container {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

#slider, #content {
    padding: 15px 0;
    background-color: #ffffff;
    border-radius: 5px 5px 0 0;

}

#content {
    margin-top: -15px;
	text-align: justify;
	padding: 15px 15px 0 15px;
}

#articles {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
	padding: 15px;
	background-color: #ECF0F1;
	border-radius: 5px;
	border: 2px solid #DCE4EC;
}

a.title_of_article, a.link_of_article {
	font-size: 1.3em;
	text-decoration: none;
	color: #2c3e50;
	/*padding-left: 10px;*/
}

.date_of_article {
	color: #95a5a6;
	font-size: 0.8em;
	font-style: italic;
	padding-top: 5px;
}

a.link_of_article {
	color: #18bb9b;
	font-size: 1em;
}

a.link_of_article:hover {
	color: #f39c12;
	font-size: 1em;
}

.text_of_article {
	font-size: 90%;
	padding: 15px;
}

.preview_img_of_article {
	float:left; 
	width: 20%; 
	margin: 0 10px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.37);
	-moz-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.37);
	box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.37);
}

.img_of_article {
	width: 10%; 
}

#footer {
    height: 60px;
    background-color: #AFD8FF;
    border-radius: 0 0 5px 5px;
    margin-bottom: 15px;
	/*width: 90%;
	margin-left: auto;
	margin-right: auto;*/
}